version: '2'
services:
  # PRODUCTION: docker-compose.override.yml
  mozart_frontend:
    image: mozart_frontend
    container_name: mozart_frontend
    build:
      context: ./mozartfrontend
      dockerfile: Dockerfile
    ports:
      - 80:80
    networks:
      - mozart-network
networks:
  mozart-network:
    driver: bridge
