version: '2'
services:
  # mozart_frontend:
  # * PRODUCTION: docker-compose.override.yml
  # * DEVELOPMET: docker-compose.develop.yml
  mozart_backend:
    image: mozart_backend
    container_name: mozart_backend
    build:
      context: ./mozartbackend
      dockerfile: Dockerfile
    # ports:
    #   - 3001:3001
    networks:
      - mozart-network
  mozart_mongodb:
    image: mongo:4.0.5
    restart: unless-stopped
    container_name: mozart_mongodb
    environment:
      - MONGO_DATA_DIR=/data/db
      - MONGO_LOG_DIR=/dev/null
    volumes:
      - ./mongodb/data/db:/data/db
    # ports:
    #   - 27017:27017
    command: mongod --noauth --bind_ip_all --oplogSize 128
    networks:
      - mozart-network     
networks:
  mozart-network:
    driver: bridge
